
html{scroll-behavior:smooth}

body{
    font-family:Arial,"Noto Sans Devanagari",sans-serif;
}

.drop-content{
    max-height:0;
    overflow:hidden;
    transition:max-height:.55s ease;
}

.drop-content.show{
    max-height:50000px;
}

.arrow{
    transition:.3s ease;
}

.arrow.rotate{
    transform:rotate(180deg);
}

.info-card{
    transition:.25s ease;
}

.info-card:hover{
    transform:translateY(-4px);
}
